/*
    Document   : css/main．css
    Created on : 2014-07-06 01:40 AM
    Author     : DannyDesignx
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}