/*
    Document   : css/main．css
    Created on : 2014-07-06 01:40 AM
    Author     : DannyDesignx
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/
 root {
    display: block;
}
body {
	
    background: -webkit-radial-gradient(#333, #222);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

header > #header-title{
	position: relative;
	display:block;
	width:50%;
}

header {
    position:relative;
    top:0;
    width:100%;
    height:70px;
	margin-bottom:2%;
    padding-bottom:8px;
    text-align: left;
    border-bottom: medium solid rgb(143, 178, 5);
	overflow: hidden;
}


header h1{
	float: left;
	margin-left: 5%;
	color:#ddd;
	
	
}

header > .header-nav{
	position: relative;
	display:inline-block;
	float: left;
	top:28px;
	width:50%;
	float:right;
	text-align: right;
	
}


header > .header-nav nav{
	float: right;
	padding-right: 5%;
	
}

header .header-nav-btn{
	position: relative;
	display: inline;
	float:left;
	margin-left: 25px;
	text-align: center;
	font-size: 1.2em;
	font-weight: bold;
	color: #bbb;
	cursor: pointer;
	
}

header nav a:hover{
	color:white;
}


.ui-article-divider{
	border: solid thin rgb(143, 178, 5);
	width: 90%;
	
}

section{
	display: inline-block;
	width:75%;
	margin-top:auto;
	margin-top:auto;
	background-color: white;
	margin-left:auto;
	margin-right:auto;
	padding:1%;
	overflow: hidden;
	border: solid 2px rgb(143, 178, 5);
}

.ui-article{
	display:inline-block;
	overflow:hidden;
	margin-bottom: 10%;
	
}

.ui-article-head{
	position: relative;
	display:block;
	width:100%;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	float:left;
	overflow:hidden;
	margin-top:5%;
	margin-bottom:10%;
}


.ui-article-head h2{
	margin-bottom:1%;
}

.ui-article-body {
	
}

.ui-article-body > img{
	position: relative;
	display:block;
	width:45%;
	float: left;
	margin-right:10%;
}

.ui-article-body > p{
	position: relative;
	display:inline-block;
	width:45%;
	float: left;
	
	
}


footer {
	margin-top:2%;
    position:relative;
    bottom:0;
    width:100%;
    height:70px;
    border-top: medium solid rgb(143, 178, 5);
}

footer h4{
    padding-bottom:8px;
    padding-left:;
	
	color:#ddd;
}


